@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/* Modelo de caja para todos los elementos */
* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

/* Color de fondo con degradado */
body {
  margin: 0;
  background: linear-gradient(to right, #e8e8e8 45%, #d4d4d4);
  color: #333333;
}

/* Estilos para el header */
/* Logo */
.logo {
  padding: 1em 0;
  background-color: none;
}

/* Contenedor principal */
.main-container {
  width: 100%;
  height: calc(100vh - 84px);
}

/* Área de trabajo y resultado */
.text-work,
.text-result {
  float: left;
  height: 100%;
}

/* Área de trabajo */
.text-work {
  width: 70%;
  display: flex;
  flex-direction: column;
}

/* Entrada de texto */
.text-area {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cuadro de texto */
.text-area textarea {
  background: none;
  border: none;
  outline: none;
  resize: none;
  width: 80%;
  height: 100%;
  font-size: 2em;
  line-height: 1.5;
  padding: 1em;
  color: #333333;
}

.text-area textarea::placeholder {
  color: #777777;
}

/* Lista de opciones */
.cipher-selector {
  margin-bottom: 20px;
}

.cipher-selector select {
  height: 40px;
  width: 80%;
  margin: auto;
  display: flex;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333333;
}

/* Advertencia */
.warning {
  height: 5%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: left;
  align-items: center;
}

.warning img {
  margin: 0 1em;
}

/* Botones */
.cipher-buttons {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  gap: 5em;
}

.cipher-buttons button {
  width: 40%;
  height: 67px;
  font-size: 1.2em;
  border-radius: 25px;
  cursor: pointer;
}

.cipher-buttons button:first-child {
  background-color: #333333;
  color: white;
  border: 2px solid #333333;
}

.cipher-buttons button:first-child:hover {
  opacity: 0.8;
}

.cipher-buttons button:last-child {
  background-color: white;
  color: #333333;
  border: 2px solid #333333;
}

.cipher-buttons button:last-child:hover {
  background-color: #d8d8d8;
  color: #333333;
}

/* Área de resultados */
.text-result {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

/* Imagen */
.result-container,
.hidden-result {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 95%;
}

.result-container {
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  background-color: #ffffff;
}

.vector {
  width: 80%;
  margin: 0;
}

.result-container p {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-weight: bold;
  color: #333333;
}

.result-container p {
  padding: 0 1em;
  color: #555555;
}

/* Texto */
.hidden-result {
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  background-color: #ffffff90;
  align-items: center;
  justify-content: center;
}

.showResult {
  background: none;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  font-size: 2em;
  line-height: 1.5;
  padding: 1em;
}

/* Botones de copiar y limpiar */
.result-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  width: 100%;
}

.result-buttons button {
  width: 40%;
  height: 50px;
  font-size: 1.2em;
  border-radius: 25px;
  cursor: pointer;
  background-color: white;
  color: #333333;
  border: 2px solid #333333;
}

.result-buttons button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.result-buttons button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -2px;
}

.result-buttons button:hover {
  background-color: #d8d8d8;
  color: #333333;
}

/* Estilos para el footer */
footer {
  background-color: #333333;
  color: white;
  padding: 20px;
  font-family: 'Roboto Mono', monospace;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer-title {
  font-size: 14px;
  font-weight: bold;
}

.footer-social a {
  margin-right: 10px;
}

.footer-social img {
  width: 30px;
  height: 30px;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
}